.centerpiece {
    background-color: aquamarine;
    color: darkblue;
    border: 10px;
    border-radius: 40px;
    height: 70%;
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: Montserrat, sans-serif;
    border-style: inset;
    vertical-align: middle
}



body {
    background-color: coral;
}

#musicButton {
    color: darkblue;
    font-family: Montserrat, sans-serif;
    border-radius: 20px;
    background-color:aquamarine;
    border: 10px;
    margin: auto;
    height: 10%;
    width: 50%;
    text-align: center;
    border-radius: 50px;
    border-style: inset;
    vertical-align: middle;
}

#musicButton:hover {
    background-color: aqua;
}

#musicButton:active {
    background-color: mediumaquamarine;
    border-style: outset;
}