.centerpiece {
    background-color: aquamarine;
    color: darkblue;
    border: 10px;
    border-radius: 40px;    
    border-color: darkblue;
    height: 70%;
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: Montserrat, sans-serif;
    border-style: inset;
    vertical-align: middle;
}

.navbar {
    height: 12%;
    width: 100%;
    position: fixed;
    border: 3px;
    border-radius: 5px;
    margin: auto;
}

div td {
    padding: 20px;;    
    border: 3px inset darkblue;
    border-radius: 5px;
    background-color: aquamarine;
    color: darkblue;
    font-family: Montserrat, sans-serif;
    border-collapse: collapse;
}
td a {
    display: block;
    height: 100%;
}
div td hover{
    background-color: darkblue;
    color: aquamarine;
    border: outset;
}


body {
    background-color: coral;
}

#musicButton {
    color: darkblue;
    font-family: Montserrat, sans-serif;
    border-radius: 20px;
    background-color:aquamarine;
    border: 10px;
    margin: auto;
    height: 10%;
    width: 50%;
    text-align: center;
    border-radius: 50px;
    border-style: inset;
    border-color: aquamarine;
    vertical-align: middle;
    display: none;
}

#musicButton:hover {
    background-color: aqua;
}

#musicButton:active {
    background-color: mediumaquamarine;
    border-style: outset;
}